.menu-hamburguer {
  display: none;
  font-size: 30px;
  color: white;
  cursor: pointer;
}

@media (max-width: 768px) {
  .menu-hamburguer {
    display: block;
  }

  nav ul {
    flex-direction: column;
    background-color: black;
    position: absolute;
    top: 60px;
    right: 0;
    width: 200px;
    display: none;
  }

  nav ul li {
    margin: 15px 0;
  }

  nav.active ul {
    display: flex;
  }
}

@media (max-width: 1024px) {
  .header-container {
    padding: 0 10px;
  }

  nav ul li {
    margin: 0 10px;
  }

  .bloco {
    flex-direction: column;
  }

  .bloco.inverso {
    flex-direction: column;
  }

  .bloco .imagem img {
    width: 80%;
    margin-bottom: 20px;
  }

  .bloco .texto, .bloco.inverso .texto {
    text-align: center;
  }
}

@media (max-width: 768px) {
  .resumo h1 {
    font-size: 50px;
  }

  .resumo p {
    font-size: 16px;
    padding: 0 10px;
  }

  .botoes-linguagens {
    gap: 10px;
  }

  .linguagem {
    width: 120px;
    height: 120px;
  }

  .linguagem img {
    width: 70px;
    height: 70px;
  }

  .card {
    width: 90%;
  }

  .conteiner-card {
    height: auto;
    padding: 20px 0;
  }

  nav ul {
    flex-direction: column;
    background-color: black;
    position: absolute;
    top: 60px;
    right: 0;
    width: 200px;
    display: none; /* você pode depois ativar o menu hambúrguer */
  }
}

@media (max-width: 480px) {
  .header-container {
    flex-direction: column;
  }

  .logo {
    width: 40px;
    height: 40px;
  }

  nav ul li a {
    font-size: 16px;
  }

  .resumo h1 {
    font-size: 38px;
  }

  .linguagem {
    width: 100px;
    height: 100px;
  }

  .linguagem img {
    width: 60px;
    height: 60px;
  }

  .card-titulo {
    font-size: 20px;
    padding: 15px;
  }

  .card-descricao a {
    font-size: 20px;
  }

  .contato-icones a img {
    width: 50px;
    height: 50px;
  }
}
